

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    background-image: url(img/tes.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 650px;
    background-attachment: fixed;
}

#header {
    background-color: rgb(50, 89, 216);
    background-image: url(img/coding.png);
    font-size: 30px;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px;
    position: fixed;
    left: 0px;
    right: 0px;
}

p {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: azure;
    text-shadow: 2px 2px #000000;
    background-color: rgb(243, 243, 242);
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    top: 250px;
    position: relative;
}

.asobu {
    margin-bottom: 50px;
    background-image: url(img/zoo.jpg);
    background-size: cover;
    border-radius: 30px 30px 30px 30px;
}

.tableform {
    margin-bottom: 50px;
    background-image: url(img/computer2.jpg);
    background-size: cover ;
    background-position-y: 25%;
    border-radius: 30px 30px 30px 30px;
}

.ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: 55px;
    top: 300px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(32deg);
    background-color: #ff9800;
    color: white;
    z-index: 10
    
    
    
    
    ;
}